body {
  background: black;
  margin: 0px;
}

.Container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.Lights {
  position: fixed;
  display: flex;
  justify-content: center;
}

.Bulb {
  position: relative;
  display: flex;
  justify-content: center;
  top: -5px;
  box-sizing: border-box;
  background: #00a572;
  width: 15px;
  height: 40px;
  margin: 10px 20px 0px 25px;
  border-radius: 50%;
}
.Bulb__circle {
  margin: 10px 25px 0px 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Bulb__square {
  width: 10px;
  height: 20px;
  margin: 10px 20px 0px 35px;
  border-radius: 5px;
}
.Bulb__glow {
  opacity: 0.1;
  box-shadow: 1px 3px 10px, -1px 3px 10px;
  -webkit-animation: bulb-pulse linear 2s infinite alternate;
          animation: bulb-pulse linear 2s infinite alternate;
}
.Bulb__first {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.Bulb__second {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.Bulb__third {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.Bulb__fourth {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.Bulb::before {
  content: "";
  position: absolute;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  top: -7px;
  width: 15px;
  height: 10px;
  background: #282828;
  border-radius: 2px;
  border-bottom: solid 2px #2a2a2a;
}
.Bulb::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -30px;
  background: transparent;
  border-bottom: solid 3px #282828;
  width: 70px;
  height: 30px;
  border-radius: 50%;
}
.Bulb:last-child::after {
  width: 0px;
}

.Control-panel {
  display: flex;
  position: absolute;
  top: 60%;
}
.Control-panel__button {
  font-size: 15px;
  color: white;
  background: transparent;
  border: solid 1px #00a572;
  cursor: pointer;
}
.Control-panel__button:hover {
  box-shadow: 0px 0px 5px #4cc09c;
}
.Control-panel__button_circled {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.Control-panel__button:first-child {
  margin-right: 5px;
}
.Control-panel__button_settings {
  display: block;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.Control-panel__setting-bar {
  display: none;
  margin-left: 10px;
  padding: 5px;
  border: solid 1px #00a572;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}
.Control-panel__setting-bar td:first-child {
  padding-right: 15px;
  font-size: 1.2em;
}
.Control-panel__setting-bar input[type=radio] {
  position: fixed;
  width: 0;
  margin: 0px;
  opacity: 0;
  cursor: pointer;
}
.Control-panel__setting-bar input[type=radio]:checked + label {
  border: solid 1px #00a572;
}
.Control-panel__setting-bar label {
  display: inline-block;
  cursor: pointer;
  background: transparent;
}
.Control-panel__setting-bar_shape label, .Control-panel__setting-bar_mode label, .Control-panel__setting-bar_speed label {
  padding: 0px 5px;
  border-radius: 5px;
}
.Control-panel__setting-bar_color label {
  border-radius: 4px;
}
.Control-panel__setting-bar_color label img {
  display: block;
  width: 45px;
  height: 15px;
  border-radius: 3px;
}
.Control-panel__setting-bar_close-button {
  margin-top: 10px;
  border-radius: 5px;
  float: right;
}

@-webkit-keyframes bulb-pulse {
  0% {
    opacity: 0.1;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: 1px 3px 10px, -1px 3px 10px;
  }
}

@keyframes bulb-pulse {
  0% {
    opacity: 0.1;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: 1px 3px 10px, -1px 3px 10px;
  }
}/*# sourceMappingURL=styles.css.map */