body
    background: black
    margin: 0px

.Container
    width: 100%
    height: auto
    display: flex
    justify-content: center

.Lights
    position: fixed
    display: flex
    justify-content: center


.Bulb
    position: relative
    display: flex
    justify-content: center
    top: -5px
    box-sizing: border-box
    width: 15px
    height: 40px
    margin: 10px 20px 0px 20px
    border-radius: 50%

    &:nth-child(4n+1)
        background: #E3170AFF
        opacity: 1
        box-shadow: 1px 3px 10px #E3170AFF, -1px 3px 10px #E3170AFF
        animation: bulb-pulse-1 2s linear 0s infinite alternate

    &:nth-child(4n-2)
        background: #A9E5BBFF
        opacity: 0.1
        box-shadow: 1px 3px 10px #A9E5BBFF, -1px 3px 10px #A9E5BBFF
        animation: bulb-pulse-2 2s linear 4s infinite alternate

    &:nth-child(4n+3)
        background: #FCF6B1FF
        opacity: 1
        box-shadow: 1px 3px 10px #FCF6B1FF, -1px 3px 10px #FCF6B1FF
        animation: bulb-pulse-3 2s linear 0s infinite alternate
    
    &:nth-child(4n+4)
        background: #F7B32BFF
        opacity: 0.1
        box-shadow: 1px 3px 10px #F7B32BFF, -1px 3px 10px #F7B32BFF
        animation: bulb-pulse-4 2s linear 4s infinite alternate

    &::before
        content: ''
        position: absolute
        display: inline-block
        text-align: center
        box-sizing: border-box
        top: -5px
        width: 15px
        height: 10px
        background: #282828
        border-radius: 2px
        border-bottom: solid 2px #2a2a2a

    &::after
        content: ''
        position: absolute
        left: 5px
        top: -30px
        background: transparent
        border-bottom: solid 3px #282828
        width: 60px
        height: 30px
        border-radius: 50%

    &:last-child::after
        width: 0px
    
@keyframes bulb-pulse-1
    0%
        opacity: 1
        box-shadow: 1px 3px 10px #E3170AFF, -1px 3px 10px #E3170AFF
    100%
        opacity: 0.1 
        box-shadow: none
         
@keyframes bulb-pulse-2
    0%
        opacity: 0.1 
        box-shadow: none
    100%
        opacity: 1
        box-shadow: 1px 3px 10px #A9E5BBFF, -1px 3px 10px #A9E5BBFF

@keyframes bulb-pulse-3
    0%
        opacity: 1
        box-shadow: 1px 3px 10px #FCF6B1FF, -1px 3px 10px #FCF6B1FF
    100%
        opacity: 0.1 
        box-shadow: none

@keyframes bulb-pulse-4
    0%
        opacity: 0.1 
        box-shadow: none
    100%
        opacity: 1
        box-shadow: 1px 3px 10px #F7B32BFF, -1px 3px 10px #F7B32BFF