body {
  background: black;
  margin: 0px;
}

.Container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.Bulbs {
  position: fixed;
  display: flex;
  justify-content: center;
}

.Bulb {
  position: relative;
  display: flex;
  justify-content: center;
  top: -5px;
  box-sizing: border-box;
  background: #00a572;
  width: 15px;
  height: 40px;
  margin: 10px 20px 0px 25px;
  border-radius: 50%;
}
@media screen and (max-width: 499px) {
  .Bulb {
    width: 10px;
    height: 30px;
  }
}
.Bulb::before {
  content: "";
  position: absolute;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  top: -7px;
  width: 15px;
  height: 10px;
  background: #282828;
  border-radius: 2px;
  border-bottom: solid 2px #2a2a2a;
}
.Bulb::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -30px;
  background: transparent;
  border-bottom: solid 3px #282828;
  width: 70px;
  height: 30px;
  border-radius: 50%;
}
.Bulb:last-child::after {
  width: 0px;
}
.Bulb__Circle {
  margin: 10px 25px 0px 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media screen and (max-width: 499px) {
  .Bulb__Circle {
    width: 20px;
    height: 20px;
  }
}
.Bulb__Square {
  width: 10px;
  height: 20px;
  margin: 10px 20px 0px 35px;
  border-radius: 5px;
}
@media screen and (max-width: 499px) {
  .Bulb__Square {
    width: 7px;
    height: 15px;
  }
}
.Bulb__Glow {
  opacity: 0.1;
  box-shadow: 1px 3px 10px, -1px 3px 10px;
  -webkit-animation: bulb-pulse linear 2s infinite alternate;
          animation: bulb-pulse linear 2s infinite alternate;
}
.Bulb__First {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.Bulb__Second {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.Bulb__Third {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.Bulb__Fourth {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.Control-panel {
  display: flex;
  position: absolute;
  top: 60%;
}
.Control-panel__Button {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: transparent;
  border: solid 1px #00a572;
  cursor: pointer;
}
.Control-panel__Button:hover {
  box-shadow: 0px 0px 5px #4cc09c;
}
.Control-panel__Button_circled {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.Control-panel__Button:first-child {
  margin-right: 5px;
}
.Control-panel__Button_settings {
  display: block;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.Setting-bar {
  display: none;
  margin-left: 10px;
  padding: 5px;
  border: solid 1px #00a572;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}
@media screen and (max-width: 499px) {
  .Setting-bar {
    font-size: 10px;
  }
}
.Setting-bar td:first-child {
  padding-right: 15px;
  font-size: 1.2em;
}
.Setting-bar input[type=radio] {
  position: fixed;
  width: 0;
  margin: 0px;
  opacity: 0;
  cursor: pointer;
}
.Setting-bar input[type=radio]:checked + label {
  border: solid 1px #00a572;
}
.Setting-bar label {
  display: inline-block;
  cursor: pointer;
  background: transparent;
}
.Setting-bar__Shape label, .Setting-bar__Mode label, .Setting-bar__Speed label {
  padding: 0px 5px;
  border-radius: 5px;
}
.Setting-bar__Color label {
  border-radius: 4px;
}
.Setting-bar__Color label img {
  display: block;
  width: 45px;
  height: 15px;
  border-radius: 3px;
}
@media screen and (max-width: 499px) {
  .Setting-bar__Color label img {
    width: 30px;
    height: 10px;
  }
}
.Setting-bar__Close-button {
  margin-top: 10px;
  border-radius: 5px;
  float: right;
}

@-webkit-keyframes bulb-pulse {
  0% {
    opacity: 0.1;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: 1px 3px 10px, -1px 3px 10px;
  }
}

@keyframes bulb-pulse {
  0% {
    opacity: 0.1;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: 1px 3px 10px, -1px 3px 10px;
  }
}/*# sourceMappingURL=styles.css.map */